---
import BaseLayout from '../layouts/BaseLayout.astro';
import DateTime from "../components/DateTime.astro";
import Weather from '../components/Weather.astro';
import WebCam from '../components/WebCam.astro';

import '../styles/global.css';
---

<BaseLayout>
	<WebCam />
	<div class="bottom-stuff glass">
		<DateTime />
		<Weather />
	</div>
</BaseLayout>
